* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   background-image: url('C:/Users/Ahmad/Desktop/SkyCouchingTask3/background.png');

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#FF6767;

}

.background {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    max-width: 900px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    max-width: 100%;
   
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.right-section {
    flex: 2;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.input-group .icon {
    position: absolute;
    left: 10px;
    width: 20px; /* Adjust the width according to your icon size */
    height: 20px; /* Adjust the height according to your icon size */
    filter: brightness(0); /* Ensure the icons are black */
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    max-width:500px;
    padding: 10px 10px 10px 35px; /* Adjust padding for icon */
    border: 1px solid #211717;
    border-radius: 4px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group input {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF6B6B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #FF4E4E;
}

p {
    text-align: center;
    margin-top: 10px;
}

p a {
    color: #FF6B6B;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
